<!DOCTYPE html>
<html>
<head>
  {% load static %}
 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src = "https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
  <title>被扭曲的時空</title>
  <link rel="icon" type="image/ico" href="{% static 'img/title_icon.png' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/demo.css' %}" />

  <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
  <script type="text/javascript" src="{% static 'js/modernizr.custom.86080.js' %}"></script>

</head>

<body>
	<div id="particles-js""></div>
	

	<audio autoplay loop style="display: none" id="music"><source src="{% static 'img/loderse.mp3' %}" type="audio/mp3"></audio>

	<div class="container-fluid">
		<div class= "tm-content col-sm-12 ml-auto section row justify-content-center align-items-center">			
			<p class = "content" style="text-align: center">
				<br>
				<br>
				<br>
				進入到了時光隧道後<br>
				環顧四周的你<br>
				除了黑暗與滿天的星斗<br>
				什麼也看不到<br>
				突然，你看到遠方處<br>
				似乎有道微弱的燈光<br>
				當你走向前時，一張紙張漂浮在空中<br>
				「時光混亂的力量，將這個空間扭曲到了未來的7年後，<br>隱藏在空間中的時光秘密，或許只有將時光導正才能找出」<br>
				某種神秘的力量驅使你喃喃自語地說...
				<br>
				<br>
				<br>
			</p>
	    </div>
	</div>
	
	<div class="container-fluid">
		<div class= "tm-content col-sm-12 ml-auto section row justify-content-center align-items-center">	
			<a href = "{% static 'img/old_kraft_paper.png' %}" download><i class="fa fa-scroll" aria-hidden="true"></i></a>
		</div>
		<p style="display: none">看穿時光秘密的你，得到了聖誕之神的提示：「聖誕的力量無所不在，唯一的路就在名為聖誕節的地址中。」</p>
	</div>

</body>

<script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>

</html>